{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/registration.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<h1>VMentalHealth</h1>
<div class="form_container">
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="submit_button">Login</button>
  </form>
</div>
