{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="form_container">
    <div class="row justify-content-center">
      <div class="main_title">Cancel Appointment</div>
    </div>
    <div class="row justify-content-center">
      <div class="secondary_title">Are you sure you would like to cancel the following appointment:</div>
    </div>  
    <div class = "row justify-content-center">Date: {{ appointment.date }}</div>
    <div class = "row justify-content-center">Start time: {{ appointment.start_time }}</div>
    <div class = "row justify-content-center">End time: {{ appointment.end_time }}</div>
    <div class = "row justify-content-center">Patient: {{ appointment.patient }}</div>
    <div class = "row justify-content-center">
      <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.status.as_hidden}}
          <button class="btn btn-primary" type="submit">Confirm</button>
          <a class = "btn btn-primary" href="{% url 'booking:provider_appointment_list' %}">Go Back</a>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
