{% extends 'base.html' %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="main_title">Reserve Appointment</div>
  </div>
  <div class="row">
    <div>Please confirm the information below to reserve this appoint:</div>
    <br>
    <div>Date: {{ appointment.date }}</div>
    <br>
    <div>Start time: {{ appointment.start_time }}</div>
    <br>
    <div>End time: {{ appointment.end_time }}</div>
    <br>
    <div>Therapist: {{ appointment.docotr }}</div>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.patient.as_hidden}}
        <button class="btn btn-primary" type="submit">Reserve</button>
    </form>
  </div>
</div>
{% endblock content %}
