{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/registration.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

<div class="logo">
  <h1>VMentalHealth</h1>
</div>

<div>
    {% if request.user.is_authenticated %}
      <div class = "header">
        <div>
            Hi, {{request.user.username}}
        </div>
        <div>
            <a href="{% url 'logout' %}"> Logout</a>
        </div>
      </div>
      <div class="profile">
        <div class = "profle_pic">
          <img src="{% static 'images/profile_img.png' %}" alt="">
        </div>
        <div class="appointment">
          <div>Appointments</div>
          <li>10/21/2021      15:00</li>
          <li>10/22/2021      11:00</li>
          <li>10/24/2021      15:00</li>
        </div>
      </div>
    {% else %}
        <div class="button_container">
          <button type="button" name="login">
            <a href="{% url 'login' %}"> Login</a>
          </button>
        </div>
        <div class="button_container">
          <button type="button" name="signup">
            <a href="{% url 'signup' %}"> Signup</a>
          </button>
        </div>
    {% endif %}

</div>
