{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
        {% if title %}
            <title> {{title}}</title>
        {% else %}
            <title></title>
        {% endif %}
    </head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
            <!--  deal with the url -->
            <a class="navbar-brand mr-4" href="/vmental">Virtual Mental Health</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">hahha</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="/vmental">Home</a>
                  <a class="nav-item nav-link" href="/vmental">Profile</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'signup' %}">Register</a>
                </div>
            </div>
            </div>
        </nav>
    </header>


    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %} {% endblock %}
            </div>
        </div>
        </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

<!-- <link rel="stylesheet" type="text/css" href="{% static 'styles/registration.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

<div class="logo">
  <h1>VMentalHealth</h1>
</div>

<div>
    {% if request.user.is_authenticated %}
      <div class = "header">
        <div>
            Hi, {{request.user.username}}
        </div>
        <div class="button_container">
          <button type="button" name="logout" id="logout">
            <a href="{% url 'logout' %}"> Logout</a>
          </button>
        </div>
      </div>
      <div class="profile">
        <div class = "profle_pic">
          <img src="{% static 'images/profile_img.png' %}" alt="">
        </div>
        <div class="appointment">
          <div>Appointments</div>
          <li>10/21/2021      15:00</li>
          <li>10/22/2021      11:00</li>
          <li>10/24/2021      15:00</li>
        </div>
      </div>
    {% else %}
        <div class="button_container">
          <button type="button" name="login">
            <a href="{% url 'login' %}"> Login</a>
          </button>
        </div>
        <div class="button_container">
          <button type="button" name="signup">
            <a href="{% url 'signup' %}"> Signup</a>
          </button>
        </div>
    {% endif %}

</div> -->
