{% extends "base.html" %}

{% block content %}

<div class="container content">
  <div class="row">
    <div class="main_title">Welcome back, {{user.username}}!</div>
  </div>
  <div class="row" >
    <div class = "col-3">
      <div class="profile_detail">
        <img src="static/images/profile_img.png" alt="avatar" id="profile_avatar">
        <div>Joined since 2021</div>
        <a class="btn btn-primary" href="{% url 'profile_edit' user.id %}" role="button" style="margin-top: 1rem;">Edit profile</a>
      </div>
    </div>
    <div class = "col-9">
      <div class = "container dash">
        <div class = "row secondary_title" id="upcoming">
          <div class = "col-6">Upcoming appointments...</div>
          <div class = "col offset-4">
            {% if request.user.is_provider %}
            <a class="btn" href="{% url 'booking:provider_appointment_list' %}">Details</a>
            {% elif not request.user.is_provider %}
            <a class="btn" href="{% url 'booking:patient_appointment_list' %}">Detail</a>
            {% endif %}
          </div>
        </div>
        <div class="row align-items-center form_attribute profile_form">
            <div class="col">Date</div>
            <div class="col">Stat Time</div>
            <div class="col">End Time</div>
        </div>
        {% for appointment in appointments.upcoming_appointment %}
        <div class="row align-items-center form_entities profile_form">
          <div class="col">
              {{ appointment.date }}
          </div>
          <div class="col">
              {{ appointment.start_time }}
          </div>
          <div class="col">
              {{ appointment.end_time }}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class = "container dash">
        <div class = "row secondary_title" id="upcoming">
          <div class = "col-6">Forum Snapshot</div>
          <div class = "col offset-4">
            <a class="btn" href="{% url 'forum:post_list' %}">Details</a>
          </div>
        </div>
        <div class="row align-items-center form_attribute profile_form">
            <div class="col">Newest topic in forum........</div>
        </div>

      </div>
    </div>
</div>

{% endblock %}
