{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class = "form_container ">
    <div class="row justify-content-center">
      <div class="main_title">Sign Up</div>
    </div>
    <div class="row justify-content-center">
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- {{ form.as_p }} -->
          <div class="row">
          {% for field in form  %}
            <div class="col-md-2 offset-md-1">
              {{ field.label_tag }}
            </div>
            <div class="col-md-3">
              {{ field }}
            </div>
          {% endfor %}
          </div>
          <div class="container error-container">
          {% for field in form  %}
            {% if field.errors %}
            <div class="row error-msg">{{ field.label_tag }} {{ field.errors }}</div>
            {% endif %}
          {% endfor %}
          </div>
          <div class="row justify-content-center">
            <button class="btn btn-primary" type="submit">Sign up</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
