.forum_content{
  background-color: rgba(223,228,231,0.75);
  padding-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 70%;
  margin-top: 100px;
}
.post_detail_title{
  font-size: 36px;
}

.lead{
  font-size: 16px;
}

.post_content{
  font-size: 20px;
  margin: 20px;
  height:30vh;
}
.comments-title{
  font-size: 20px;
}
.comments-list{
  font-size: 20px;
}
.comments-wrapper{
  border: 1px solid #444;
  border-radius: 5px;
  padding-bottom: 30px;
}
.reply-content{
  margin-left: auto;
  transform: translate(10px);
}
.post_list_title{
  padding-left: 30px;
}
