.row{
  margin-top: 10px;
}
/* #upcoming{
  font-size: 20px;
} */
#profile_avatar{
  width: 90%;
}
.dash{
  background-color: rgba(255,255,255,0.7);
  padding-bottom: 30px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;
}
