.logo{
  width: 100vw;
  height: 50vh;
}
#logout{
  width: 90px;
  height: 50px;
}
.header{
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: white;
  float: right;
  margin-left: 30px;
}

.profile{
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  width: 100vw;
  height: 50vh;
}
.profle_pic{
  width: 30vw;
  margin: 40px;
  position: absolute;
}
.appointment{
  width: 70vw;
  margin-left: 20vw;
  float: right;
}

img {
  width: 200px;
  height: 200px;
}
h1 {
  position: relative;
  padding-top: 150px;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  color: white;
  text-align: center;
  height: inherit;
  line-height: inherit;
}
button {
  background-color: white; /* Grey */
  border-radius: 8px;
  border-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: auto;
  width: 50%;
  height: 10%;
  float: left;
}
.button_container{
  width: 50%;
  position: relative;
  margin: auto;
}
.form_container{
  width: 60%;
  position: relative;
  margin: auto;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: white;
  display:flex;
	justify-content: center;
}
.submit_button {
  height: 10vh;
  margin: auto;
}

.helptext{
  font-size: 12px;
  position: absolute;
  margin-left: 20px;
  width: auto;
}
ul {
  font-size: 12px;
}

a {
  text-decoration: none;
}

body{
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
