{% extends 'base.html' %}

{% block content %}

<div class="container post_detail">
  <div class="row align-items-center">
    <div class = "col-12 post_detail_title">
        {{ post.title }}
    </div>
  </div>
  <div class="row align-items-center">
      <p class="col-6 lead">
        Created by <small class="text-muted">{{ post.author }}</small> at <small class="text-muted">{{ post.created_at }}</small>
      </p>
      {% if request.user.is_authenticated and request.user.id == post.author.id %}
      <a class = "col-2 btn btn-sm"href="{% url 'post_update' post.id %}">Edit post</a>
      <a class = "col-2 btn btn-sm"href="{% url 'post_delete' post.id %}">Delete post</a>
      <a class = "col-2 btn btn-sm"href="{% url 'post_list' %}">Back to Forum</a>
      {% endif %}
  </div>
  <div class="post_content">
      {{ post.content }}
  </div>
  <div class="row comments-title">
    <div class="col-6">Comments</div>
    <a class = "col-2 btn btn-sm"href="{% url 'comment_create' %}?post_id={{ post.id }}">Create comment</a>
  </div>
  <div class="row comments-list">
    {% for comment in object.comments.all %}
    <div class="comment">
        <div class="info">
            <p>{{ comment.author }}<span> . {{ comment.created_at }}</span></p>
            <p>{{ comment.content }}</p>
        </div>
    </div>
    {% empty %}
    <p class="no-comment">
        <small class="text-muted">There are no comments yet.</small>
    </p>
    {% endfor %}
  </div>
</div>
{% endblock content %}
