{% extends 'base.html' %}

{% block content %}
<div class="container forum_content">
  <div class="row align-items-baseline">
    <div class = "col-9">
      <div class="main_title">Discussion Forum</div>
    </div>
    <div class = "col-3">
      <a class="btn btn-primary" href="{% url 'forum:post_create' %}" role="button">Create New Post</a>
    </div>
  </div>
  <div class="row justify-content-center form_attribute">
      <div class="col-5" id="post_title">Title</div>
      <div class="col-2">Status</div>
      <div class="col-2">Author</div>
      <div class="col-3">Created_at</div>
  </div>
  {% for post in object_list %}
  <div class="row justify-content-center form_entities">
      <div class="col-5">
        <a class="col-5" href="{% url 'forum:post_detail' post.slug %}">{{ post.title }}</a>
      </div>
      <div class="col-2">
        {{ post.status }}
      </div>
      <div class="col-2">
        {{ post.author }}
      </div>
      <div class="col-3">
        {{ post.created_at }}
      </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
