{% extends 'base.html' %}

{% block content %}
<div class="container content">
  <div class="row justify-content-center">
    <div class="main_title">Delete Post</div>
  </div>
  <div class="row justify-content-center">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p> Do you want to delete "{{post.title}}" ? </p>
        <div class="row justify-content-center">
          <button class="btn btn-sm" type="submit">Delete</button>
        </div>
    </form>
  </div>
</div>
{% endblock content %}
