{% extends 'base.html' %}

{% block content %}
<div class="container forum_content">
  <div class="row align-items-center">
    <div class = "col-4 main_title">
        {{ post.title }}
    </div>
    <div class="col-4 offset-4">
      <a href="{% url 'forum:post_list' %}">Back to Forum</a>
    </div>
  </div>
  <div class="row post_content">
    <div class="col">
      {{ post.content }}
    </div>
  </div>
  <div class="row align-items-center">
      <p class="col-4 lead">
        Created by <small class="text-muted">{{ post.author }}</small> at <small class="text-muted">{{ post.created_at }}</small>
      </p>
      <div class="col-2 offset-2">
        <a class = "offset-1"href="{% url 'forum:post_update' post.slug %}">Edit post</a>
      </div>
      <div class="col-2 ">
        <a class = "offset-1"href="{% url 'forum:post_delete' post.slug %}">Delete post</a>
      </div>
  </div>
  {% if request.user.is_authenticated and request.user.id == post.author.id %}
  <div class="row">

  </div>
  {% endif %}
  <div class="container comments-wrapper">
    <div class="row align-items-center comments-title">
      <div class="col-6 secondary_title">Comments</div>
    </div>
    {% load mptt_tags %}
    <div class = "row">
      <div class = "col-12">
      {% recursetree comments %}
      <div class="my-2 p-2">
        <div class="row align-items-center comments-content" id="{{ node.id }}">
          <div class="col">{{ node.content }}</div>
        </div>
        <div class="row align-items-center comments-info">
          <small class="col-3">{{ node.author }}</small>
          <small class="col-3">{{ node.created_at }}</small>
        </div>
        <div class="row ">
          <div class="col-3">
            <a class="btn btn-sm" onclick="replyFunction({{ node.id }})">Reply</a>
          </div>
        </div>
      </div>
      {% if not node.is_leaf_node %}
        <div class="children pl-2 pl-md-5">
          {{ children }}
        </div>
      {% endif %}
      {% endrecursetree %}
      </div>
    </div>
    <div class = "row">
      <div class = "col-6">
        <form id="comment_form" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary btn-sm btn-block">Submit</button>
        </form>
      </div>
    </div>
</div>

<script>

  function formExit() {
    document.getElementById("replyForm").remove();
  }

  function replyFunction(id) {

    if (document.contains(document.getElementById("replyForm"))) {
      document.getElementById("replyForm").remove();
    }

    var a = document.getElementById(id)
    a.insertAdjacentHTML('afterend',
      '<div class="row reply-content">\
        <form id="replyForm" class="form-insert py-2" method="post"> \
          <select name="parent" class="d-none" id="id_parentt"> \
          <option value="' + id + '" selected="' + id + '"></option> \
          </select> \
          <label for="id_content">Content</label> \
          <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
          {% csrf_token %} \
          <div class="row justify-content-end">\
              <button type="submit" class="btn btn-primary btn-sm">Submit</button> \
              <button type="button" class="btn btn-outline-secondary btn-sm offset-1" onclick="formExit()"">Close</button>\
          </div> \
        </form>\
        </div>'
    );
  }

  $('#comment_form').trigger("reset");
</script>
{% endblock content %}
